*{
  padding: 0;
  margin: 0;
  
}
body {
  background: rgb(128, 0, 128); /* Pure Purple */
  background: linear-gradient(90deg, rgba(128, 0, 128, 1) 0%, rgba(147, 51, 234, 1) 50%, rgba(128, 0, 128, 1) 100%);
}
